@media screen and (max-width: 500px) {
  .background {
    align-items: start;
  }
  .card {
    width: 343px;
    height: 535px;
    margin-top: 65px;
    p {
      font-size: 15px;
    }
    &__top {
      height: 96px;
      margin-bottom: 16px;
      padding: 25px 25px 25px 20px;
      border-radius: 10px;
      .balance {
        font-size: 24px;
        margin-top: 3px;
      }
      .imgDiv {
        img {
          width: 60px;
        }
      }
    }
    &__main {
      padding: 25px 20px;
      border-radius: 10px;
      h2 {
        margin-bottom: 51px;
        font-size: 24px;
        letter-spacing: -0.01em;
      }
      .barsSegment {
        .bar {
          .barSpending {
            // opacity: 1;
            left: -10px;
            top: -36px;
            width: 52px;
            height: 25px;
            padding-top: 2px;
            border-radius: 3px;
            font-size: 16px;
          }
          .barDiv {
            width: 33px;
            border-radius: 3px;
            margin-bottom: 11px;
          }
          p {
            font-size: 12px;
          }
        }
      }
      hr {
        margin-top: -6px;
        margin-bottom: 25px;
      }
      .totalsSegment {
        .total {
          margin-top: 4px;
          font-size: 30px;
        }
      }
    }
  }
}
